$primary-color: #ffffff;
$primary-font: "Antonio";
$secondary-font: "Spartan";

$mercury-btn: #419ebb;
$venus-btn: #eda249;
$earth-btn: #6d2ed5;
$mars-btn: #d14c32;
$jupiter-btn: #d83a34;
$saturn-btn: #cd5120;
$uranus-btn: #1ec1a2;
$neptune-btn: #2d68f0;
